-- MySQL dump 10.13  Distrib 5.7.36, for Win64 (x86_64)
--
-- Host: localhost    Database: movie_db121
-- ------------------------------------------------------
-- Server version	5.7.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actor`
--

DROP TABLE IF EXISTS `actor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actor` (
  `actor_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` text,
  `art_urls` text,
  PRIMARY KEY (`actor_id`),
  UNIQUE KEY `ix_actor_1` (`name`(255))
) ENGINE=MyISAM AUTO_INCREMENT=216 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actor`
--

LOCK TABLES `actor` WRITE;
/*!40000 ALTER TABLE `actor` DISABLE KEYS */;
/*!40000 ALTER TABLE `actor` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kodi`@`%`*/ /*!50003 TRIGGER delete_person AFTER DELETE ON actor FOR EACH ROW BEGIN DELETE FROM art WHERE media_id=old.actor_id AND media_type IN ('actor','artist','writer','director'); END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `actor_link`
--

DROP TABLE IF EXISTS `actor_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actor_link` (
  `actor_id` int(11) DEFAULT NULL,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  `role` text,
  `cast_order` int(11) DEFAULT NULL,
  UNIQUE KEY `ix_actor_link_1` (`actor_id`,`media_type`(20),`media_id`,`role`(255)),
  KEY `ix_actor_link_2` (`media_id`,`media_type`(20),`actor_id`),
  KEY `ix_actor_link_3` (`media_type`(20))
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actor_link`
--

LOCK TABLES `actor_link` WRITE;
/*!40000 ALTER TABLE `actor_link` DISABLE KEYS */;
/*!40000 ALTER TABLE `actor_link` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `art`
--

DROP TABLE IF EXISTS `art`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `art` (
  `art_id` int(11) NOT NULL AUTO_INCREMENT,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  `type` text,
  `url` text,
  PRIMARY KEY (`art_id`),
  KEY `ix_art` (`media_id`,`media_type`(20),`type`(20))
) ENGINE=MyISAM AUTO_INCREMENT=153 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `art`
--

LOCK TABLES `art` WRITE;
/*!40000 ALTER TABLE `art` DISABLE KEYS */;
/*!40000 ALTER TABLE `art` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookmark`
--

DROP TABLE IF EXISTS `bookmark`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookmark` (
  `idBookmark` int(11) NOT NULL AUTO_INCREMENT,
  `idFile` int(11) DEFAULT NULL,
  `timeInSeconds` double DEFAULT NULL,
  `totalTimeInSeconds` double DEFAULT NULL,
  `thumbNailImage` text,
  `player` text,
  `playerState` text,
  `type` int(11) DEFAULT NULL,
  PRIMARY KEY (`idBookmark`),
  KEY `ix_bookmark` (`idFile`,`type`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookmark`
--

LOCK TABLES `bookmark` WRITE;
/*!40000 ALTER TABLE `bookmark` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookmark` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `country`
--

DROP TABLE IF EXISTS `country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `country` (
  `country_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` text,
  PRIMARY KEY (`country_id`),
  UNIQUE KEY `ix_country_1` (`name`(255))
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `country`
--

LOCK TABLES `country` WRITE;
/*!40000 ALTER TABLE `country` DISABLE KEYS */;
INSERT INTO `country` VALUES (1,'United States of America'),(2,'United Kingdom'),(3,'France');
/*!40000 ALTER TABLE `country` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `country_link`
--

DROP TABLE IF EXISTS `country_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `country_link` (
  `country_id` int(11) DEFAULT NULL,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  UNIQUE KEY `ix_country_link_1` (`country_id`,`media_type`(20),`media_id`),
  UNIQUE KEY `ix_country_link_2` (`media_id`,`media_type`(20),`country_id`),
  KEY `ix_country_link_3` (`media_type`(20))
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `country_link`
--

LOCK TABLES `country_link` WRITE;
/*!40000 ALTER TABLE `country_link` DISABLE KEYS */;
INSERT INTO `country_link` VALUES (2,2,'movie'),(1,2,'movie'),(3,3,'movie');
/*!40000 ALTER TABLE `country_link` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `director_link`
--

DROP TABLE IF EXISTS `director_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `director_link` (
  `actor_id` int(11) DEFAULT NULL,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  UNIQUE KEY `ix_director_link_1` (`actor_id`,`media_type`(20),`media_id`),
  UNIQUE KEY `ix_director_link_2` (`media_id`,`media_type`(20),`actor_id`),
  KEY `ix_director_link_3` (`media_type`(20))
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `director_link`
--

LOCK TABLES `director_link` WRITE;
/*!40000 ALTER TABLE `director_link` DISABLE KEYS */;
INSERT INTO `director_link` VALUES (172,2,'movie'),(213,3,'movie');
/*!40000 ALTER TABLE `director_link` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `episode`
--

DROP TABLE IF EXISTS `episode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `episode` (
  `idEpisode` int(11) NOT NULL AUTO_INCREMENT,
  `idFile` int(11) DEFAULT NULL,
  `c00` text,
  `c01` text,
  `c02` text,
  `c03` text,
  `c04` text,
  `c05` text,
  `c06` text,
  `c07` text,
  `c08` text,
  `c09` text,
  `c10` text,
  `c11` text,
  `c12` varchar(24) DEFAULT NULL,
  `c13` varchar(24) DEFAULT NULL,
  `c14` text,
  `c15` text,
  `c16` text,
  `c17` varchar(24) DEFAULT NULL,
  `c18` text,
  `c19` text,
  `c20` text,
  `c21` text,
  `c22` text,
  `c23` text,
  `idShow` int(11) DEFAULT NULL,
  `userrating` int(11) DEFAULT NULL,
  `idSeason` int(11) DEFAULT NULL,
  PRIMARY KEY (`idEpisode`),
  UNIQUE KEY `ix_episode_file_1` (`idEpisode`,`idFile`),
  UNIQUE KEY `id_episode_file_2` (`idFile`,`idEpisode`),
  KEY `ix_episode_season_episode` (`c12`,`c13`),
  KEY `ix_episode_bookmark` (`c17`),
  KEY `ix_episode_show1` (`idEpisode`,`idShow`),
  KEY `ix_episode_show2` (`idShow`,`idEpisode`),
  KEY `ixEpisodeBasePath` (`c19`(12))
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `episode`
--

LOCK TABLES `episode` WRITE;
/*!40000 ALTER TABLE `episode` DISABLE KEYS */;
/*!40000 ALTER TABLE `episode` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kodi`@`%`*/ /*!50003 TRIGGER delete_episode AFTER DELETE ON episode FOR EACH ROW BEGIN DELETE FROM actor_link WHERE media_id=old.idEpisode AND media_type='episode'; DELETE FROM director_link WHERE media_id=old.idEpisode AND media_type='episode'; DELETE FROM writer_link WHERE media_id=old.idEpisode AND media_type='episode'; DELETE FROM art WHERE media_id=old.idEpisode AND media_type='episode'; DELETE FROM rating WHERE media_id=old.idEpisode AND media_type='episode'; DELETE FROM uniqueid WHERE media_id=old.idEpisode AND media_type='episode'; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `episode_view`
--

DROP TABLE IF EXISTS `episode_view`;
/*!50001 DROP VIEW IF EXISTS `episode_view`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `episode_view` AS SELECT 
 1 AS `idEpisode`,
 1 AS `idFile`,
 1 AS `c00`,
 1 AS `c01`,
 1 AS `c02`,
 1 AS `c03`,
 1 AS `c04`,
 1 AS `c05`,
 1 AS `c06`,
 1 AS `c07`,
 1 AS `c08`,
 1 AS `c09`,
 1 AS `c10`,
 1 AS `c11`,
 1 AS `c12`,
 1 AS `c13`,
 1 AS `c14`,
 1 AS `c15`,
 1 AS `c16`,
 1 AS `c17`,
 1 AS `c18`,
 1 AS `c19`,
 1 AS `c20`,
 1 AS `c21`,
 1 AS `c22`,
 1 AS `c23`,
 1 AS `idShow`,
 1 AS `userrating`,
 1 AS `idSeason`,
 1 AS `strFileName`,
 1 AS `strPath`,
 1 AS `playCount`,
 1 AS `lastPlayed`,
 1 AS `dateAdded`,
 1 AS `strTitle`,
 1 AS `genre`,
 1 AS `studio`,
 1 AS `premiered`,
 1 AS `mpaa`,
 1 AS `resumeTimeInSeconds`,
 1 AS `totalTimeInSeconds`,
 1 AS `playerState`,
 1 AS `rating`,
 1 AS `votes`,
 1 AS `rating_type`,
 1 AS `uniqueid_value`,
 1 AS `uniqueid_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `files`
--

DROP TABLE IF EXISTS `files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `files` (
  `idFile` int(11) NOT NULL AUTO_INCREMENT,
  `idPath` int(11) DEFAULT NULL,
  `strFilename` text,
  `playCount` int(11) DEFAULT NULL,
  `lastPlayed` text,
  `dateAdded` text,
  PRIMARY KEY (`idFile`),
  KEY `ix_files` (`idPath`,`strFilename`(255))
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `files`
--

LOCK TABLES `files` WRITE;
/*!40000 ALTER TABLE `files` DISABLE KEYS */;
INSERT INTO `files` VALUES (2,1,'Elephant Man (1980) [2160p HDR10 DV8 x265 MULTI VFI 2.0 DTS-HDMA].mkv',NULL,NULL,'2022-12-20 14:51:32'),(3,2,'Le.Torrent.2022.FRENCH.1080p.BluRay.x264-UTT.mkv',NULL,NULL,'2023-03-28 12:39:25');
/*!40000 ALTER TABLE `files` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kodi`@`%`*/ /*!50003 TRIGGER delete_file AFTER DELETE ON files FOR EACH ROW BEGIN DELETE FROM bookmark WHERE idFile=old.idFile; DELETE FROM settings WHERE idFile=old.idFile; DELETE FROM stacktimes WHERE idFile=old.idFile; DELETE FROM streamdetails WHERE idFile=old.idFile; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `genre`
--

DROP TABLE IF EXISTS `genre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `genre` (
  `genre_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` text,
  PRIMARY KEY (`genre_id`),
  UNIQUE KEY `ix_genre_1` (`name`(255))
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genre`
--

LOCK TABLES `genre` WRITE;
/*!40000 ALTER TABLE `genre` DISABLE KEYS */;
INSERT INTO `genre` VALUES (1,'Drama'),(3,'History'),(4,'Thriller');
/*!40000 ALTER TABLE `genre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `genre_link`
--

DROP TABLE IF EXISTS `genre_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `genre_link` (
  `genre_id` int(11) DEFAULT NULL,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  UNIQUE KEY `ix_genre_link_1` (`genre_id`,`media_type`(20),`media_id`),
  UNIQUE KEY `ix_genre_link_2` (`media_id`,`media_type`(20),`genre_id`),
  KEY `ix_genre_link_3` (`media_type`(20))
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genre_link`
--

LOCK TABLES `genre_link` WRITE;
/*!40000 ALTER TABLE `genre_link` DISABLE KEYS */;
INSERT INTO `genre_link` VALUES (1,2,'movie'),(3,2,'movie'),(4,3,'movie');
/*!40000 ALTER TABLE `genre_link` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movie`
--

DROP TABLE IF EXISTS `movie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `movie` (
  `idMovie` int(11) NOT NULL AUTO_INCREMENT,
  `idFile` int(11) DEFAULT NULL,
  `c00` text,
  `c01` text,
  `c02` text,
  `c03` text,
  `c04` text,
  `c05` text,
  `c06` text,
  `c07` text,
  `c08` text,
  `c09` text,
  `c10` text,
  `c11` text,
  `c12` text,
  `c13` text,
  `c14` text,
  `c15` text,
  `c16` text,
  `c17` text,
  `c18` text,
  `c19` text,
  `c20` text,
  `c21` text,
  `c22` text,
  `c23` text,
  `idSet` int(11) DEFAULT NULL,
  `userrating` int(11) DEFAULT NULL,
  `premiered` text,
  PRIMARY KEY (`idMovie`),
  UNIQUE KEY `ix_movie_file_1` (`idFile`,`idMovie`),
  UNIQUE KEY `ix_movie_file_2` (`idMovie`,`idFile`),
  KEY `ixMovieBasePath` (`c23`(12))
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movie`
--

LOCK TABLES `movie` WRITE;
/*!40000 ALTER TABLE `movie` DISABLE KEYS */;
/*!40000 ALTER TABLE `movie` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kodi`@`%`*/ /*!50003 TRIGGER delete_movie AFTER DELETE ON movie FOR EACH ROW BEGIN DELETE FROM genre_link WHERE media_id=old.idMovie AND media_type='movie'; DELETE FROM actor_link WHERE media_id=old.idMovie AND media_type='movie'; DELETE FROM director_link WHERE media_id=old.idMovie AND media_type='movie'; DELETE FROM studio_link WHERE media_id=old.idMovie AND media_type='movie'; DELETE FROM country_link WHERE media_id=old.idMovie AND media_type='movie'; DELETE FROM writer_link WHERE media_id=old.idMovie AND media_type='movie'; DELETE FROM movielinktvshow WHERE idMovie=old.idMovie; DELETE FROM art WHERE media_id=old.idMovie AND media_type='movie'; DELETE FROM tag_link WHERE media_id=old.idMovie AND media_type='movie'; DELETE FROM rating WHERE media_id=old.idMovie AND media_type='movie'; DELETE FROM uniqueid WHERE media_id=old.idMovie AND media_type='movie'; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `movie_view`
--

DROP TABLE IF EXISTS `movie_view`;
/*!50001 DROP VIEW IF EXISTS `movie_view`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `movie_view` AS SELECT 
 1 AS `idMovie`,
 1 AS `idFile`,
 1 AS `c00`,
 1 AS `c01`,
 1 AS `c02`,
 1 AS `c03`,
 1 AS `c04`,
 1 AS `c05`,
 1 AS `c06`,
 1 AS `c07`,
 1 AS `c08`,
 1 AS `c09`,
 1 AS `c10`,
 1 AS `c11`,
 1 AS `c12`,
 1 AS `c13`,
 1 AS `c14`,
 1 AS `c15`,
 1 AS `c16`,
 1 AS `c17`,
 1 AS `c18`,
 1 AS `c19`,
 1 AS `c20`,
 1 AS `c21`,
 1 AS `c22`,
 1 AS `c23`,
 1 AS `idSet`,
 1 AS `userrating`,
 1 AS `premiered`,
 1 AS `strSet`,
 1 AS `strSetOverview`,
 1 AS `strFileName`,
 1 AS `strPath`,
 1 AS `playCount`,
 1 AS `lastPlayed`,
 1 AS `dateAdded`,
 1 AS `resumeTimeInSeconds`,
 1 AS `totalTimeInSeconds`,
 1 AS `playerState`,
 1 AS `rating`,
 1 AS `votes`,
 1 AS `rating_type`,
 1 AS `uniqueid_value`,
 1 AS `uniqueid_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `movielinktvshow`
--

DROP TABLE IF EXISTS `movielinktvshow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `movielinktvshow` (
  `idMovie` int(11) DEFAULT NULL,
  `IdShow` int(11) DEFAULT NULL,
  UNIQUE KEY `ix_movielinktvshow_1` (`IdShow`,`idMovie`),
  UNIQUE KEY `ix_movielinktvshow_2` (`idMovie`,`IdShow`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movielinktvshow`
--

LOCK TABLES `movielinktvshow` WRITE;
/*!40000 ALTER TABLE `movielinktvshow` DISABLE KEYS */;
/*!40000 ALTER TABLE `movielinktvshow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `musicvideo`
--

DROP TABLE IF EXISTS `musicvideo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `musicvideo` (
  `idMVideo` int(11) NOT NULL AUTO_INCREMENT,
  `idFile` int(11) DEFAULT NULL,
  `c00` text,
  `c01` text,
  `c02` text,
  `c03` text,
  `c04` text,
  `c05` text,
  `c06` text,
  `c07` text,
  `c08` text,
  `c09` text,
  `c10` text,
  `c11` text,
  `c12` text,
  `c13` text,
  `c14` text,
  `c15` text,
  `c16` text,
  `c17` text,
  `c18` text,
  `c19` text,
  `c20` text,
  `c21` text,
  `c22` text,
  `c23` text,
  `userrating` int(11) DEFAULT NULL,
  `premiered` text,
  PRIMARY KEY (`idMVideo`),
  UNIQUE KEY `ix_musicvideo_file_1` (`idMVideo`,`idFile`),
  UNIQUE KEY `ix_musicvideo_file_2` (`idFile`,`idMVideo`),
  KEY `ixMusicVideoBasePath` (`c14`(12))
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `musicvideo`
--

LOCK TABLES `musicvideo` WRITE;
/*!40000 ALTER TABLE `musicvideo` DISABLE KEYS */;
/*!40000 ALTER TABLE `musicvideo` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kodi`@`%`*/ /*!50003 TRIGGER delete_musicvideo AFTER DELETE ON musicvideo FOR EACH ROW BEGIN DELETE FROM actor_link WHERE media_id=old.idMVideo AND media_type='musicvideo'; DELETE FROM director_link WHERE media_id=old.idMVideo AND media_type='musicvideo'; DELETE FROM genre_link WHERE media_id=old.idMVideo AND media_type='musicvideo'; DELETE FROM studio_link WHERE media_id=old.idMVideo AND media_type='musicvideo'; DELETE FROM art WHERE media_id=old.idMVideo AND media_type='musicvideo'; DELETE FROM tag_link WHERE media_id=old.idMVideo AND media_type='musicvideo'; DELETE FROM uniqueid WHERE media_id=old.idMVideo AND media_type='musicvideo'; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `musicvideo_view`
--

DROP TABLE IF EXISTS `musicvideo_view`;
/*!50001 DROP VIEW IF EXISTS `musicvideo_view`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `musicvideo_view` AS SELECT 
 1 AS `idMVideo`,
 1 AS `idFile`,
 1 AS `c00`,
 1 AS `c01`,
 1 AS `c02`,
 1 AS `c03`,
 1 AS `c04`,
 1 AS `c05`,
 1 AS `c06`,
 1 AS `c07`,
 1 AS `c08`,
 1 AS `c09`,
 1 AS `c10`,
 1 AS `c11`,
 1 AS `c12`,
 1 AS `c13`,
 1 AS `c14`,
 1 AS `c15`,
 1 AS `c16`,
 1 AS `c17`,
 1 AS `c18`,
 1 AS `c19`,
 1 AS `c20`,
 1 AS `c21`,
 1 AS `c22`,
 1 AS `c23`,
 1 AS `userrating`,
 1 AS `premiered`,
 1 AS `strFileName`,
 1 AS `strPath`,
 1 AS `playCount`,
 1 AS `lastPlayed`,
 1 AS `dateAdded`,
 1 AS `resumeTimeInSeconds`,
 1 AS `totalTimeInSeconds`,
 1 AS `playerState`,
 1 AS `uniqueid_value`,
 1 AS `uniqueid_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `path`
--

DROP TABLE IF EXISTS `path`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `path` (
  `idPath` int(11) NOT NULL AUTO_INCREMENT,
  `strPath` text,
  `strContent` text,
  `strScraper` text,
  `strHash` text,
  `scanRecursive` int(11) DEFAULT NULL,
  `useFolderNames` tinyint(1) DEFAULT NULL,
  `strSettings` text,
  `noUpdate` tinyint(1) DEFAULT NULL,
  `exclude` tinyint(1) DEFAULT NULL,
  `allAudio` tinyint(1) DEFAULT NULL,
  `dateAdded` text,
  `idParentPath` int(11) DEFAULT NULL,
  PRIMARY KEY (`idPath`),
  KEY `ix_path` (`strPath`(255)),
  KEY `ix_path2` (`idParentPath`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `path`
--

LOCK TABLES `path` WRITE;
/*!40000 ALTER TABLE `path` DISABLE KEYS */;
/*!40000 ALTER TABLE `path` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rating`
--

DROP TABLE IF EXISTS `rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rating` (
  `rating_id` int(11) NOT NULL AUTO_INCREMENT,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  `rating_type` text,
  `rating` float DEFAULT NULL,
  `votes` int(11) DEFAULT NULL,
  PRIMARY KEY (`rating_id`),
  KEY `ix_rating` (`media_id`,`media_type`(20))
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rating`
--

LOCK TABLES `rating` WRITE;
/*!40000 ALTER TABLE `rating` DISABLE KEYS */;
INSERT INTO `rating` VALUES (2,2,'movie','themoviedb',8.061,2994),(3,3,'movie','themoviedb',5.793,29);
/*!40000 ALTER TABLE `rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `season_view`
--

DROP TABLE IF EXISTS `season_view`;
/*!50001 DROP VIEW IF EXISTS `season_view`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `season_view` AS SELECT 
 1 AS `idSeason`,
 1 AS `idShow`,
 1 AS `season`,
 1 AS `name`,
 1 AS `userrating`,
 1 AS `strPath`,
 1 AS `showTitle`,
 1 AS `plot`,
 1 AS `premiered`,
 1 AS `genre`,
 1 AS `studio`,
 1 AS `mpaa`,
 1 AS `episodes`,
 1 AS `playCount`,
 1 AS `aired`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `seasons`
--

DROP TABLE IF EXISTS `seasons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seasons` (
  `idSeason` int(11) NOT NULL AUTO_INCREMENT,
  `idShow` int(11) DEFAULT NULL,
  `season` int(11) DEFAULT NULL,
  `name` text,
  `userrating` int(11) DEFAULT NULL,
  PRIMARY KEY (`idSeason`),
  KEY `ix_seasons` (`idShow`,`season`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seasons`
--

LOCK TABLES `seasons` WRITE;
/*!40000 ALTER TABLE `seasons` DISABLE KEYS */;
/*!40000 ALTER TABLE `seasons` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kodi`@`%`*/ /*!50003 TRIGGER delete_season AFTER DELETE ON seasons FOR EACH ROW BEGIN DELETE FROM art WHERE media_id=old.idSeason AND media_type='season'; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `sets`
--

DROP TABLE IF EXISTS `sets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sets` (
  `idSet` int(11) NOT NULL AUTO_INCREMENT,
  `strSet` text,
  `strOverview` text,
  PRIMARY KEY (`idSet`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sets`
--

LOCK TABLES `sets` WRITE;
/*!40000 ALTER TABLE `sets` DISABLE KEYS */;
/*!40000 ALTER TABLE `sets` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kodi`@`%`*/ /*!50003 TRIGGER delete_set AFTER DELETE ON sets FOR EACH ROW BEGIN DELETE FROM art WHERE media_id=old.idSet AND media_type='set'; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `idFile` int(11) DEFAULT NULL,
  `Deinterlace` tinyint(1) DEFAULT NULL,
  `ViewMode` int(11) DEFAULT NULL,
  `ZoomAmount` float DEFAULT NULL,
  `PixelRatio` float DEFAULT NULL,
  `VerticalShift` float DEFAULT NULL,
  `AudioStream` int(11) DEFAULT NULL,
  `SubtitleStream` int(11) DEFAULT NULL,
  `SubtitleDelay` float DEFAULT NULL,
  `SubtitlesOn` tinyint(1) DEFAULT NULL,
  `Brightness` float DEFAULT NULL,
  `Contrast` float DEFAULT NULL,
  `Gamma` float DEFAULT NULL,
  `VolumeAmplification` float DEFAULT NULL,
  `AudioDelay` float DEFAULT NULL,
  `ResumeTime` int(11) DEFAULT NULL,
  `Sharpness` float DEFAULT NULL,
  `NoiseReduction` float DEFAULT NULL,
  `NonLinStretch` tinyint(1) DEFAULT NULL,
  `PostProcess` tinyint(1) DEFAULT NULL,
  `ScalingMethod` int(11) DEFAULT NULL,
  `DeinterlaceMode` int(11) DEFAULT NULL,
  `StereoMode` int(11) DEFAULT NULL,
  `StereoInvert` tinyint(1) DEFAULT NULL,
  `VideoStream` int(11) DEFAULT NULL,
  `TonemapMethod` int(11) DEFAULT NULL,
  `TonemapParam` float DEFAULT NULL,
  `Orientation` int(11) DEFAULT NULL,
  `CenterMixLevel` int(11) DEFAULT NULL,
  UNIQUE KEY `ix_settings` (`idFile`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stacktimes`
--

DROP TABLE IF EXISTS `stacktimes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stacktimes` (
  `idFile` int(11) DEFAULT NULL,
  `times` text,
  UNIQUE KEY `ix_stacktimes` (`idFile`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stacktimes`
--

LOCK TABLES `stacktimes` WRITE;
/*!40000 ALTER TABLE `stacktimes` DISABLE KEYS */;
/*!40000 ALTER TABLE `stacktimes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `streamdetails`
--

DROP TABLE IF EXISTS `streamdetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `streamdetails` (
  `idFile` int(11) DEFAULT NULL,
  `iStreamType` int(11) DEFAULT NULL,
  `strVideoCodec` text,
  `fVideoAspect` float DEFAULT NULL,
  `iVideoWidth` int(11) DEFAULT NULL,
  `iVideoHeight` int(11) DEFAULT NULL,
  `strAudioCodec` text,
  `iAudioChannels` int(11) DEFAULT NULL,
  `strAudioLanguage` text,
  `strSubtitleLanguage` text,
  `iVideoDuration` int(11) DEFAULT NULL,
  `strStereoMode` text,
  `strVideoLanguage` text,
  `strHdrType` text,
  KEY `ix_streamdetails` (`idFile`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `streamdetails`
--

LOCK TABLES `streamdetails` WRITE;
/*!40000 ALTER TABLE `streamdetails` DISABLE KEYS */;
/*!40000 ALTER TABLE `streamdetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studio`
--

DROP TABLE IF EXISTS `studio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `studio` (
  `studio_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` text,
  PRIMARY KEY (`studio_id`),
  UNIQUE KEY `ix_studio_1` (`name`(255))
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studio`
--

LOCK TABLES `studio` WRITE;
/*!40000 ALTER TABLE `studio` DISABLE KEYS */;
INSERT INTO `studio` VALUES (2,'Brooksfilms'),(3,'Move Movie');
/*!40000 ALTER TABLE `studio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studio_link`
--

DROP TABLE IF EXISTS `studio_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `studio_link` (
  `studio_id` int(11) DEFAULT NULL,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  UNIQUE KEY `ix_studio_link_1` (`studio_id`,`media_type`(20),`media_id`),
  UNIQUE KEY `ix_studio_link_2` (`media_id`,`media_type`(20),`studio_id`),
  KEY `ix_studio_link_3` (`media_type`(20))
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studio_link`
--

LOCK TABLES `studio_link` WRITE;
/*!40000 ALTER TABLE `studio_link` DISABLE KEYS */;
INSERT INTO `studio_link` VALUES (2,2,'movie'),(3,3,'movie');
/*!40000 ALTER TABLE `studio_link` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tag`
--

DROP TABLE IF EXISTS `tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tag` (
  `tag_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` text,
  PRIMARY KEY (`tag_id`),
  UNIQUE KEY `ix_tag_1` (`name`(255))
) ENGINE=MyISAM AUTO_INCREMENT=27 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tag`
--

LOCK TABLES `tag` WRITE;
/*!40000 ALTER TABLE `tag` DISABLE KEYS */;
INSERT INTO `tag` VALUES (16,'exploitation'),(17,'biography'),(18,'based on true story'),(19,'hospital'),(20,'curiosity'),(21,'sideshow'),(22,'disfigurement'),(23,'physical deformity'),(24,'freak'),(25,'19th century'),(26,'dignity');
/*!40000 ALTER TABLE `tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tag_link`
--

DROP TABLE IF EXISTS `tag_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tag_link` (
  `tag_id` int(11) DEFAULT NULL,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  UNIQUE KEY `ix_tag_link_1` (`tag_id`,`media_type`(20),`media_id`),
  UNIQUE KEY `ix_tag_link_2` (`media_id`,`media_type`(20),`tag_id`),
  KEY `ix_tag_link_3` (`media_type`(20))
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tag_link`
--

LOCK TABLES `tag_link` WRITE;
/*!40000 ALTER TABLE `tag_link` DISABLE KEYS */;
INSERT INTO `tag_link` VALUES (16,2,'movie'),(17,2,'movie'),(18,2,'movie'),(19,2,'movie'),(20,2,'movie'),(21,2,'movie'),(22,2,'movie'),(23,2,'movie'),(24,2,'movie'),(25,2,'movie'),(26,2,'movie');
/*!40000 ALTER TABLE `tag_link` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kodi`@`%`*/ /*!50003 TRIGGER delete_tag AFTER DELETE ON tag_link FOR EACH ROW BEGIN DELETE FROM tag WHERE tag_id=old.tag_id AND tag_id NOT IN (SELECT DISTINCT tag_id FROM tag_link); END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `tvshow`
--

DROP TABLE IF EXISTS `tvshow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tvshow` (
  `idShow` int(11) NOT NULL AUTO_INCREMENT,
  `c00` text,
  `c01` text,
  `c02` text,
  `c03` text,
  `c04` text,
  `c05` text,
  `c06` text,
  `c07` text,
  `c08` text,
  `c09` text,
  `c10` text,
  `c11` text,
  `c12` text,
  `c13` text,
  `c14` text,
  `c15` text,
  `c16` text,
  `c17` text,
  `c18` text,
  `c19` text,
  `c20` text,
  `c21` text,
  `c22` text,
  `c23` text,
  `userrating` int(11) DEFAULT NULL,
  `duration` int(11) DEFAULT NULL,
  PRIMARY KEY (`idShow`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tvshow`
--

LOCK TABLES `tvshow` WRITE;
/*!40000 ALTER TABLE `tvshow` DISABLE KEYS */;
/*!40000 ALTER TABLE `tvshow` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`kodi`@`%`*/ /*!50003 TRIGGER delete_tvshow AFTER DELETE ON tvshow FOR EACH ROW BEGIN DELETE FROM actor_link WHERE media_id=old.idShow AND media_type='tvshow'; DELETE FROM director_link WHERE media_id=old.idShow AND media_type='tvshow'; DELETE FROM studio_link WHERE media_id=old.idShow AND media_type='tvshow'; DELETE FROM tvshowlinkpath WHERE idShow=old.idShow; DELETE FROM genre_link WHERE media_id=old.idShow AND media_type='tvshow'; DELETE FROM movielinktvshow WHERE idShow=old.idShow; DELETE FROM seasons WHERE idShow=old.idShow; DELETE FROM art WHERE media_id=old.idShow AND media_type='tvshow'; DELETE FROM tag_link WHERE media_id=old.idShow AND media_type='tvshow'; DELETE FROM rating WHERE media_id=old.idShow AND media_type='tvshow'; DELETE FROM uniqueid WHERE media_id=old.idShow AND media_type='tvshow'; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `tvshow_view`
--

DROP TABLE IF EXISTS `tvshow_view`;
/*!50001 DROP VIEW IF EXISTS `tvshow_view`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `tvshow_view` AS SELECT 
 1 AS `idShow`,
 1 AS `c00`,
 1 AS `c01`,
 1 AS `c02`,
 1 AS `c03`,
 1 AS `c04`,
 1 AS `c05`,
 1 AS `c06`,
 1 AS `c07`,
 1 AS `c08`,
 1 AS `c09`,
 1 AS `c10`,
 1 AS `c11`,
 1 AS `c12`,
 1 AS `c13`,
 1 AS `c14`,
 1 AS `c15`,
 1 AS `c16`,
 1 AS `c17`,
 1 AS `c18`,
 1 AS `c19`,
 1 AS `c20`,
 1 AS `c21`,
 1 AS `c22`,
 1 AS `c23`,
 1 AS `userrating`,
 1 AS `duration`,
 1 AS `idParentPath`,
 1 AS `strPath`,
 1 AS `dateAdded`,
 1 AS `lastPlayed`,
 1 AS `totalCount`,
 1 AS `watchedcount`,
 1 AS `totalSeasons`,
 1 AS `rating`,
 1 AS `votes`,
 1 AS `rating_type`,
 1 AS `uniqueid_value`,
 1 AS `uniqueid_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `tvshowcounts`
--

DROP TABLE IF EXISTS `tvshowcounts`;
/*!50001 DROP VIEW IF EXISTS `tvshowcounts`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `tvshowcounts` AS SELECT 
 1 AS `idShow`,
 1 AS `lastPlayed`,
 1 AS `totalCount`,
 1 AS `watchedcount`,
 1 AS `totalSeasons`,
 1 AS `dateAdded`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `tvshowlinkpath`
--

DROP TABLE IF EXISTS `tvshowlinkpath`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tvshowlinkpath` (
  `idShow` int(11) DEFAULT NULL,
  `idPath` int(11) DEFAULT NULL,
  UNIQUE KEY `ix_tvshowlinkpath_1` (`idShow`,`idPath`),
  UNIQUE KEY `ix_tvshowlinkpath_2` (`idPath`,`idShow`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tvshowlinkpath`
--

LOCK TABLES `tvshowlinkpath` WRITE;
/*!40000 ALTER TABLE `tvshowlinkpath` DISABLE KEYS */;
/*!40000 ALTER TABLE `tvshowlinkpath` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `tvshowlinkpath_minview`
--

DROP TABLE IF EXISTS `tvshowlinkpath_minview`;
/*!50001 DROP VIEW IF EXISTS `tvshowlinkpath_minview`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `tvshowlinkpath_minview` AS SELECT 
 1 AS `idShow`,
 1 AS `idPath`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `uniqueid`
--

DROP TABLE IF EXISTS `uniqueid`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `uniqueid` (
  `uniqueid_id` int(11) NOT NULL AUTO_INCREMENT,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  `value` text,
  `type` text,
  PRIMARY KEY (`uniqueid_id`),
  KEY `ix_uniqueid1` (`media_id`,`media_type`(20),`type`(20)),
  KEY `ix_uniqueid2` (`media_type`(20),`value`(20))
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uniqueid`
--

LOCK TABLES `uniqueid` WRITE;
/*!40000 ALTER TABLE `uniqueid` DISABLE KEYS */;
INSERT INTO `uniqueid` VALUES (3,2,'movie','tt0080678','imdb'),(4,2,'movie','1955','tmdb'),(5,3,'movie','tt17912040','imdb'),(6,3,'movie','944303','tmdb');
/*!40000 ALTER TABLE `uniqueid` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `version`
--

DROP TABLE IF EXISTS `version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `version` (
  `idVersion` int(11) DEFAULT NULL,
  `iCompressCount` int(11) DEFAULT NULL
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `version`
--

LOCK TABLES `version` WRITE;
/*!40000 ALTER TABLE `version` DISABLE KEYS */;
INSERT INTO `version` VALUES (121,0);
/*!40000 ALTER TABLE `version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `writer_link`
--

DROP TABLE IF EXISTS `writer_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `writer_link` (
  `actor_id` int(11) DEFAULT NULL,
  `media_id` int(11) DEFAULT NULL,
  `media_type` text,
  UNIQUE KEY `ix_writer_link_1` (`actor_id`,`media_type`(20),`media_id`),
  UNIQUE KEY `ix_writer_link_2` (`media_id`,`media_type`(20),`actor_id`),
  KEY `ix_writer_link_3` (`media_type`(20))
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `writer_link`
--

LOCK TABLES `writer_link` WRITE;
/*!40000 ALTER TABLE `writer_link` DISABLE KEYS */;
INSERT INTO `writer_link` VALUES (172,2,'movie'),(169,2,'movie'),(170,2,'movie'),(213,3,'movie'),(215,3,'movie');
/*!40000 ALTER TABLE `writer_link` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `episode_view`
--

/*!50001 DROP VIEW IF EXISTS `episode_view`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`kodi`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `episode_view` AS select `episode`.`idEpisode` AS `idEpisode`,`episode`.`idFile` AS `idFile`,`episode`.`c00` AS `c00`,`episode`.`c01` AS `c01`,`episode`.`c02` AS `c02`,`episode`.`c03` AS `c03`,`episode`.`c04` AS `c04`,`episode`.`c05` AS `c05`,`episode`.`c06` AS `c06`,`episode`.`c07` AS `c07`,`episode`.`c08` AS `c08`,`episode`.`c09` AS `c09`,`episode`.`c10` AS `c10`,`episode`.`c11` AS `c11`,`episode`.`c12` AS `c12`,`episode`.`c13` AS `c13`,`episode`.`c14` AS `c14`,`episode`.`c15` AS `c15`,`episode`.`c16` AS `c16`,`episode`.`c17` AS `c17`,`episode`.`c18` AS `c18`,`episode`.`c19` AS `c19`,`episode`.`c20` AS `c20`,`episode`.`c21` AS `c21`,`episode`.`c22` AS `c22`,`episode`.`c23` AS `c23`,`episode`.`idShow` AS `idShow`,`episode`.`userrating` AS `userrating`,`episode`.`idSeason` AS `idSeason`,`files`.`strFilename` AS `strFileName`,`path`.`strPath` AS `strPath`,`files`.`playCount` AS `playCount`,`files`.`lastPlayed` AS `lastPlayed`,`files`.`dateAdded` AS `dateAdded`,`tvshow`.`c00` AS `strTitle`,`tvshow`.`c08` AS `genre`,`tvshow`.`c14` AS `studio`,`tvshow`.`c05` AS `premiered`,`tvshow`.`c13` AS `mpaa`,`bookmark`.`timeInSeconds` AS `resumeTimeInSeconds`,`bookmark`.`totalTimeInSeconds` AS `totalTimeInSeconds`,`bookmark`.`playerState` AS `playerState`,`rating`.`rating` AS `rating`,`rating`.`votes` AS `votes`,`rating`.`rating_type` AS `rating_type`,`uniqueid`.`value` AS `uniqueid_value`,`uniqueid`.`type` AS `uniqueid_type` from (((((((`episode` join `files` on((`files`.`idFile` = `episode`.`idFile`))) join `tvshow` on((`tvshow`.`idShow` = `episode`.`idShow`))) join `seasons` on((`seasons`.`idSeason` = `episode`.`idSeason`))) join `path` on((`files`.`idPath` = `path`.`idPath`))) left join `bookmark` on(((`bookmark`.`idFile` = `episode`.`idFile`) and (`bookmark`.`type` = 1)))) left join `rating` on((`rating`.`rating_id` = `episode`.`c03`))) left join `uniqueid` on((`uniqueid`.`uniqueid_id` = `episode`.`c20`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `movie_view`
--

/*!50001 DROP VIEW IF EXISTS `movie_view`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`kodi`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `movie_view` AS select `movie`.`idMovie` AS `idMovie`,`movie`.`idFile` AS `idFile`,`movie`.`c00` AS `c00`,`movie`.`c01` AS `c01`,`movie`.`c02` AS `c02`,`movie`.`c03` AS `c03`,`movie`.`c04` AS `c04`,`movie`.`c05` AS `c05`,`movie`.`c06` AS `c06`,`movie`.`c07` AS `c07`,`movie`.`c08` AS `c08`,`movie`.`c09` AS `c09`,`movie`.`c10` AS `c10`,`movie`.`c11` AS `c11`,`movie`.`c12` AS `c12`,`movie`.`c13` AS `c13`,`movie`.`c14` AS `c14`,`movie`.`c15` AS `c15`,`movie`.`c16` AS `c16`,`movie`.`c17` AS `c17`,`movie`.`c18` AS `c18`,`movie`.`c19` AS `c19`,`movie`.`c20` AS `c20`,`movie`.`c21` AS `c21`,`movie`.`c22` AS `c22`,`movie`.`c23` AS `c23`,`movie`.`idSet` AS `idSet`,`movie`.`userrating` AS `userrating`,`movie`.`premiered` AS `premiered`,`sets`.`strSet` AS `strSet`,`sets`.`strOverview` AS `strSetOverview`,`files`.`strFilename` AS `strFileName`,`path`.`strPath` AS `strPath`,`files`.`playCount` AS `playCount`,`files`.`lastPlayed` AS `lastPlayed`,`files`.`dateAdded` AS `dateAdded`,`bookmark`.`timeInSeconds` AS `resumeTimeInSeconds`,`bookmark`.`totalTimeInSeconds` AS `totalTimeInSeconds`,`bookmark`.`playerState` AS `playerState`,`rating`.`rating` AS `rating`,`rating`.`votes` AS `votes`,`rating`.`rating_type` AS `rating_type`,`uniqueid`.`value` AS `uniqueid_value`,`uniqueid`.`type` AS `uniqueid_type` from ((((((`movie` left join `sets` on((`sets`.`idSet` = `movie`.`idSet`))) join `files` on((`files`.`idFile` = `movie`.`idFile`))) join `path` on((`path`.`idPath` = `files`.`idPath`))) left join `bookmark` on(((`bookmark`.`idFile` = `movie`.`idFile`) and (`bookmark`.`type` = 1)))) left join `rating` on((`rating`.`rating_id` = `movie`.`c05`))) left join `uniqueid` on((`uniqueid`.`uniqueid_id` = `movie`.`c09`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `musicvideo_view`
--

/*!50001 DROP VIEW IF EXISTS `musicvideo_view`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`kodi`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `musicvideo_view` AS select `musicvideo`.`idMVideo` AS `idMVideo`,`musicvideo`.`idFile` AS `idFile`,`musicvideo`.`c00` AS `c00`,`musicvideo`.`c01` AS `c01`,`musicvideo`.`c02` AS `c02`,`musicvideo`.`c03` AS `c03`,`musicvideo`.`c04` AS `c04`,`musicvideo`.`c05` AS `c05`,`musicvideo`.`c06` AS `c06`,`musicvideo`.`c07` AS `c07`,`musicvideo`.`c08` AS `c08`,`musicvideo`.`c09` AS `c09`,`musicvideo`.`c10` AS `c10`,`musicvideo`.`c11` AS `c11`,`musicvideo`.`c12` AS `c12`,`musicvideo`.`c13` AS `c13`,`musicvideo`.`c14` AS `c14`,`musicvideo`.`c15` AS `c15`,`musicvideo`.`c16` AS `c16`,`musicvideo`.`c17` AS `c17`,`musicvideo`.`c18` AS `c18`,`musicvideo`.`c19` AS `c19`,`musicvideo`.`c20` AS `c20`,`musicvideo`.`c21` AS `c21`,`musicvideo`.`c22` AS `c22`,`musicvideo`.`c23` AS `c23`,`musicvideo`.`userrating` AS `userrating`,`musicvideo`.`premiered` AS `premiered`,`files`.`strFilename` AS `strFileName`,`path`.`strPath` AS `strPath`,`files`.`playCount` AS `playCount`,`files`.`lastPlayed` AS `lastPlayed`,`files`.`dateAdded` AS `dateAdded`,`bookmark`.`timeInSeconds` AS `resumeTimeInSeconds`,`bookmark`.`totalTimeInSeconds` AS `totalTimeInSeconds`,`bookmark`.`playerState` AS `playerState`,`uniqueid`.`value` AS `uniqueid_value`,`uniqueid`.`type` AS `uniqueid_type` from ((((`musicvideo` join `files` on((`files`.`idFile` = `musicvideo`.`idFile`))) join `path` on((`path`.`idPath` = `files`.`idPath`))) left join `bookmark` on(((`bookmark`.`idFile` = `musicvideo`.`idFile`) and (`bookmark`.`type` = 1)))) left join `uniqueid` on((`uniqueid`.`uniqueid_id` = `musicvideo`.`c15`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `season_view`
--

/*!50001 DROP VIEW IF EXISTS `season_view`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`kodi`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `season_view` AS select `seasons`.`idSeason` AS `idSeason`,`seasons`.`idShow` AS `idShow`,`seasons`.`season` AS `season`,`seasons`.`name` AS `name`,`seasons`.`userrating` AS `userrating`,`tvshow_view`.`strPath` AS `strPath`,`tvshow_view`.`c00` AS `showTitle`,`tvshow_view`.`c01` AS `plot`,`tvshow_view`.`c05` AS `premiered`,`tvshow_view`.`c08` AS `genre`,`tvshow_view`.`c14` AS `studio`,`tvshow_view`.`c13` AS `mpaa`,count(distinct `episode`.`idEpisode`) AS `episodes`,count(`files`.`playCount`) AS `playCount`,min(`episode`.`c05`) AS `aired` from (((`seasons` join `tvshow_view` on((`tvshow_view`.`idShow` = `seasons`.`idShow`))) join `episode` on(((`episode`.`idShow` = `seasons`.`idShow`) and (`episode`.`c12` = `seasons`.`season`)))) join `files` on((`files`.`idFile` = `episode`.`idFile`))) group by `seasons`.`idSeason`,`seasons`.`idShow`,`seasons`.`season`,`seasons`.`name`,`seasons`.`userrating`,`tvshow_view`.`strPath`,`tvshow_view`.`c00`,`tvshow_view`.`c01`,`tvshow_view`.`c05`,`tvshow_view`.`c08`,`tvshow_view`.`c14`,`tvshow_view`.`c13` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `tvshow_view`
--

/*!50001 DROP VIEW IF EXISTS `tvshow_view`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`kodi`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `tvshow_view` AS select `tvshow`.`idShow` AS `idShow`,`tvshow`.`c00` AS `c00`,`tvshow`.`c01` AS `c01`,`tvshow`.`c02` AS `c02`,`tvshow`.`c03` AS `c03`,`tvshow`.`c04` AS `c04`,`tvshow`.`c05` AS `c05`,`tvshow`.`c06` AS `c06`,`tvshow`.`c07` AS `c07`,`tvshow`.`c08` AS `c08`,`tvshow`.`c09` AS `c09`,`tvshow`.`c10` AS `c10`,`tvshow`.`c11` AS `c11`,`tvshow`.`c12` AS `c12`,`tvshow`.`c13` AS `c13`,`tvshow`.`c14` AS `c14`,`tvshow`.`c15` AS `c15`,`tvshow`.`c16` AS `c16`,`tvshow`.`c17` AS `c17`,`tvshow`.`c18` AS `c18`,`tvshow`.`c19` AS `c19`,`tvshow`.`c20` AS `c20`,`tvshow`.`c21` AS `c21`,`tvshow`.`c22` AS `c22`,`tvshow`.`c23` AS `c23`,`tvshow`.`userrating` AS `userrating`,`tvshow`.`duration` AS `duration`,`path`.`idParentPath` AS `idParentPath`,`path`.`strPath` AS `strPath`,`tvshowcounts`.`dateAdded` AS `dateAdded`,`tvshowcounts`.`lastPlayed` AS `lastPlayed`,`tvshowcounts`.`totalCount` AS `totalCount`,`tvshowcounts`.`watchedcount` AS `watchedcount`,`tvshowcounts`.`totalSeasons` AS `totalSeasons`,`rating`.`rating` AS `rating`,`rating`.`votes` AS `votes`,`rating`.`rating_type` AS `rating_type`,`uniqueid`.`value` AS `uniqueid_value`,`uniqueid`.`type` AS `uniqueid_type` from (((((`tvshow` left join `tvshowlinkpath_minview` on((`tvshowlinkpath_minview`.`idShow` = `tvshow`.`idShow`))) left join `path` on((`path`.`idPath` = `tvshowlinkpath_minview`.`idPath`))) join `tvshowcounts` on((`tvshow`.`idShow` = `tvshowcounts`.`idShow`))) left join `rating` on((`rating`.`rating_id` = `tvshow`.`c04`))) left join `uniqueid` on((`uniqueid`.`uniqueid_id` = `tvshow`.`c12`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `tvshowcounts`
--

/*!50001 DROP VIEW IF EXISTS `tvshowcounts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`kodi`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `tvshowcounts` AS select `tvshow`.`idShow` AS `idShow`,max(`files`.`lastPlayed`) AS `lastPlayed`,nullif(count(`episode`.`c12`),0) AS `totalCount`,count(`files`.`playCount`) AS `watchedcount`,nullif(count(distinct `episode`.`c12`),0) AS `totalSeasons`,max(`files`.`dateAdded`) AS `dateAdded` from ((`tvshow` left join `episode` on((`episode`.`idShow` = `tvshow`.`idShow`))) left join `files` on((`files`.`idFile` = `episode`.`idFile`))) group by `tvshow`.`idShow` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `tvshowlinkpath_minview`
--

/*!50001 DROP VIEW IF EXISTS `tvshowlinkpath_minview`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`kodi`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `tvshowlinkpath_minview` AS select `tvshowlinkpath`.`idShow` AS `idShow`,min(`tvshowlinkpath`.`idPath`) AS `idPath` from `tvshowlinkpath` group by `tvshowlinkpath`.`idShow` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-04-28 14:04:16
